.cardsContainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}

.msj{
    color:black
}