.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f8f6f6;
    
}

.containerInfoBuild{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin-top:70px ;
   align-items: center;

}

.containerTernario{
  background-color: #f8f6f6;

}
.imageoffice{
  width: 100px;
  height:100px

}

.officeDetailContainer {
  width: 30% !important;
  margin: 5px;
}

.msj{
  color: black;
}

  .title{
    color: black;
  }

  .addresss{
    color: rgb(0, 0, 0);
    font-size: 16;
  }

  .containerInfoOffices{
    display: flex;
    flex-direction: row;
    width:90%;



  }

