.containerMayor {
  background-color: #f8f6f6;
}
.container {
  display: flex;
  background-color: #fbae5b2e;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.comment {
  width: 90%;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

.containerInfoBuild {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  align-content: center;
  /* border: 1px solid #9c9d9d;
  border-radius: 7px; */
}

.nombreDireccion {
  width: 100%;
  margin-left: 20px;
  color: black;
}

.nameBuilding {
  color: black;
}

.addresss {
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.title {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.imageoffice {
  width: 100px;
  height: 100px;
}

.officeDetailContainer {
  margin: 5px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  display: flex;
}

.msj {
  color: black;
}

.containerInfoOffices {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
.containerTernario {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}


.msj {
  display: flex;
  flex-direction: row;
  border: 1px solid #dfe1e2;
  border-radius: 7px;
  width: 80%;
  background-color: #ffffff;
  align-self: center;

}

.todoContenedor{
  display: flex;
  flex-direction: column;
}

.abajo{
  width: 80%;
  height: 30%;
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
}


.izquierda {
  width: 60%;
  align-items: center;
  align-content: center;
  height: 70%;
}

.nameoffice {
  margin: 0px;
  padding: 0px;

}

.capacityoffice {
  margin: 0px;
  padding: 0px;
}
.derecha {
  width: 40%;
  height: 70%;

}

.averageoffice {
}
.servicesoffice {
  color: black;
  background-color: #fbae5b2e;
  
}



.scoreoffice {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;

  background-color: #ffff;
}
